<div class="main container">
  <h1>My To Do List</h1>
  <h2>What would you like to do today?</h2>
  <div class="input-group">
    <input
    #newItem
   placeholder="add an item"
   (keyup.enter)="addItem(newItem.value); newItem.value = ''"
   class="text-input form-control"
   id="addItemInput"
   
   />

      <button class="btn btn-primary form-control" (click)="addItem(newItem.value)">Add</button>
  </div>

  <div class="d-flex justify-content-start">
      <h3 class="mr-2">total:{{items.length}}</h3>
      <h3>done:{{finished}}</h3>
  </div>
  <div *ngFor="let item of items">
    <input type="checkbox" name="" value="" [checked]="item.done" (change)="onToggle(item.description)">
    <span [class.text-danger]="item.done" >{{item.description}}</span>
  </div>
</div>
<ngb-alert [animation]="true">
  dfasfsadfdsf
</ngb-alert>
<button type="button" class="btn btn-outline-secondary me-2" placement="top" ngbTooltip="Tooltip on top">
	Tooltip on top
</button>